<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <title>Moody Maple</title>
</head>
<body>
    <div class="container">
        <div class="navbar-nav">
            <ul class="nav-item">
                <a href="mcserver.html" class="nav-link">我们的MC服务器</a>
            </ul>
            <ul class="nav-item">
                <a href="" class="nav-link">我们在做什么</a>
            </ul>
            <ul class="nav-item">
                <a href="" class="nav-link">我们是谁</a>
            </ul>
        </div>
    
        
    </div>
</body>
</html>