<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <title>Moody Maple</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="#" class="navbar-brand offset-sm-1">Welcome!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav"> 
                <li class="nav-item"><a href="" class="nav-link">我们的国际版MC服务器</a></li>
                <li class="nav-item"><a href="" class="nav-link">我们是谁?</a></li>
                <li class="nav-item"><a href="" class="nav-link">下载</a></li>
            </ul>
        </div>
    </nav>
    <div class="container text-center">
        <div id="welcome-page" class="bg-light text-dark">
            <h1 class="display-1 title">MoodyMaple</h1>
            <p class="subtitle">使&nbsp;<a id="a-fb" href="fastbuilder.pro">Fastbuilder</a>&nbsp拥有更多可能</p>
            
        <!-- 文字在中间 MoodyMaple
        然后下面放较细字体的简介-->
        </div>
        <div id="server-info" class="bg-info text-white">hi</div>
    </div>
</body>
</html>