* {
    margin: 0;
    padding: 0;
}

#a-fb {
    color:#00BC8A;
    text-decoration: none;
}

#welcome-page {
    padding-top: 15rem;
}

.title {
    color:#00BC8A   
}

.subtitle {
    margin: 10% auto;
    padding-bottom: 50%;
}